body{
  background-color: black;
  position: relative;

  color:white;
  font-family: 'Roboto', sans-serif;
}
body.chat{
  background-color: #dfdfdf;
}
a{
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  border-radius: 3px;
}
a.facebook{
  background-color: #4267B2;
  padding: 10px 15px;
}
a.logout{
  background-color: #4267C2;
  text-decoration: none;
  padding: 5px 10px;
  float:right;
  font-size: 12px;
}
a.send{
  background-color: #4ac242;
  text-decoration: none;
  padding: 5px 10px;
  font-size: 20px;
  vertical-align: top;
}
.container{
  padding: 0px 60px;
}
.chatbox-container{
  position: relative;
  box-shadow: 5px 5px 15px grey;
  border-radius: 10px;
  padding: 20px;
  background-color: #009688;
}
.chatbox{
  background-color: white;
  position: relative;
  border-radius: 10px;
  color: black;
  height: 500px;
}
.chat-ctas{
  padding: 10px;
}
.chat-ctas.user{
  background-color: white;
}
.users-list-container{
  display: inline-block;
  padding: 10px;
  width: 20%;
  position: relative;
  height: 375px;
  overflow: scroll;
  border-right: 1px solid #eee;
}
.user{
  background-color: #dfdfdf;
  padding: 10px;
  margin-bottom: 5px;
  cursor: pointer
}
.user.active{
  background-color: rgba(0,68,152,0.4);
}
.user > .img-circle{
  border-radius: 50%;
  display: inline-block;
}
.user > .username{
  padding: 10px 0px 0 5px;
  vertical-align: top;
  display: inline-block;
  text-transform: uppercase;
  width: 112px;
}
.chat-messages-container{
  display: inline-block;
  position: relative;
  width:75%;
  height: 375px;
  vertical-align: top;
}
.chat-messages{
  background-color: #eee;
  padding: 10px;
  border-radius: 5px;
  overflow: scroll;
  height: 80%;
}
.chat-message{
  background-color:white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  display: inline-block;
}
.loader{
  left: 0;
  right: 0;
  position: absolute;
  text-align: center;
}
