<html>
<head>
  <link rel="stylesheet" href="main.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
</head>
<body class="chat">
  <div class="container">
    <div class="chatbox">

    </div>
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script>
    $(document).ready(function(){
      var host = '{{params.host}}';
      var socket = io.connect(host+'greetings')
      socket.on('connect',function(){
        console.log('connected!');
      });
      setTimeout(function(){
        angular.bootstrap(document.documentElement, ["chat"]);
      },1000);
    })
  </script>
</body>
</html>