<html ng-app="chat">
<head>
  <base href="/">
  <link rel="stylesheet" href="css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body class="chat" ng-controller="RootController">
  <div class="container">
    <div class="chatbox">
      <ui-view></ui-view>
    </div>
  </div>
  <script src="socket.io/socket.io.js"></script>
  <script src="angular/angular.min.js"></script>
  <script src="angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="angular-socket-io/socket.min.js"></script>
  <script src="index.js"></script>
  <script src="scripts/config/socketFactory.js"></script>
  <script src="scripts/controllers/root.js"></script>
  <script src="scripts/components/mainframe/index.js"></script>
</body>
</html>